.color-box {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border: 1px solid #000;
}
.color-code {
    font-family: monospace;
    margin-top: 10px;
    font-size: 25px;
}
.color-code {
    cursor: pointer;
}
.color-code:hover {
    text-decoration: underline;
}